.mainContainer{
    background-color: #FFFFFF;
    //border-radius:30px 30px 0px 0px;
    padding-top:10px;
    height:135px; 
    overflow: scroll!important;
   
}

ion-header {
    ion-toolbar {
        --background:var(--button-color);
        color:#fff;
    }
}

.supportcode{
    
    width: 32%;
    background: #fae8e9;
    color: #d12125;
    padding: 5px;
    border-radius: 4px;
    text-align: left;
    font-size: 13px;
    margin-bottom: 5px;

}

.notFoundMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}
.btnContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-direction:row;
	.button{
		background-color: var(--hightLight-color);
		color: rgb(0, 0, 0);
		margin-top:9px;
		display:flex;
		justify-content:center;
		padding:12px;
		align-items:center;
		border-radius:5px;
		width:100%
	}
}

