<ion-header class="custom-header" class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <div
      style="display: flex;flex-direction: row;margin-left:1px;padding-top: 12px; padding-bottom: 12px;justify-content: space-between;align-items: center;padding-right: 12px;">
      <div style="display: flex; justify-content: center; align-items: flex-start;flex-direction: column;">
        <div style="padding-left: 10px;font-size:14px;font-weight: 700;">Help & Support</div>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



  <div *ngIf="supprtArr != '' ">
    <div *ngFor="let list of supprtArr; let i = index"
      style="display: flex;flex-direction: column;padding-top: 12px; padding-bottom: 12px;padding-left:16px;border-top: 0.5px solid #c9cdce;;background-color: #fff;">
      <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div class="supportcode">#{{list.code}}</div>
        <div
          style="font-weight: bold;padding-left: 4px;padding-right: 15px;font-size:13px;color:#181D20;text-transform:capitalize;font-weight: bold;">
          {{list.status}}
        </div>
      </div>

      <div
        style="padding:0px 0px;padding-bottom:4px;display: flex; justify-content: space-between; align-items:center;flex-direction: row;color:#99AEA6">
        <div
          style="text-transform:capitalize;padding-left: 0px;padding-right: 10px;font-size: 13px;color:#404040;font-weight: 700;">
          {{list.subject}}
        </div>

      </div>

      <div
        style="display: flex; justify-content: flex-start; align-items: flex-start;flex-direction: row;color:#99AEA6">
        <!--<img src="../../assets/imgs/loc.png" style="width:18px;height:18px" />-->
        <div
          style="padding-bottom: 8px;font-size:13px;width: 15.9375rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-transform: capitalize;">
          {{list.message}}
        </div>
      </div>

      <div
        style="display: flex; justify-content: flex-start; align-items: flex-start;flex-direction: row;color:#99AEA6">
        <!--<img src="../../assets/imgs/loc.png" style="width:18px;height:18px" />-->
        <div style="font-size:13px;width: 15.9375rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          {{list.created_at}}
        </div>
      </div>
    </div>
  </div>

 

  <div *ngIf="supprtArr == '' && loading != true"
    style="display: flex; justify-content: center; align-items: center;flex-direction: column;padding: 50px 45px;">
    <img style="width:242px" src="assets/imgs/no-results.png" />
    <div style="text-align: center;font-size: 16px; color:#7d7d7d">Sorry !!! No issue raised at your end</div>
    <div class='btnContainer'>
      <div class="button" (click)="addNew()">
        <div style="font-size:13px">Add Support Request</div>
      </div>
    </div>
  </div>

  <div *ngIf="loading == true && supprtArr == ''">

    <ion-list>
      <ion-item *ngFor="item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="supprtArr != '' && loading != true">
    <ion-fab-button color="danger" (click)="addNew()">
      <ion-icon name="add-circle-outline" style="font-size: 40px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>