<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="loading == false" style="padding:0px 12px 0px 12px;">
    <div style="display: flex;justify-content: center;">
      <img src="../../assets/imgs/logo.png" style="width:65%;margin-top: 18px;" />
    </div>
    <div>
      <p [innerHTML]="content"></p>
    </div>
    <!-- <div (click)="open('https://aasthika.com/')" style="color:#10C841;font-size:14px">www.aasthika.com</div>
    <div style="padding-bottom: 20px;display: flex; justify-content: flex-start; align-items: center; flex-direction: row;margin-top:12px">
    <ion-icon (click)="open('')" name="logo-facebook" style="font-size: 25px;"></ion-icon>
    <ion-icon (click)="open('https://api.whatsapp.com/send?phone=+919883233711&text=*Hi Team Aasthika,* I would like to talk with your expert')" 
      name="logo-whatsapp" 
      style="font-size: 25px;margin-left:12px;margin-right:12px"
    >
    </ion-icon>

    </div> -->
  </div>
  <div *ngIf="loading == true">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
<ion-footer class="ion-no-border" >   
  <div class="footerContainer" >
    <div class="subHeading">
      <div (click)="openPage('privacy-policy')">Privacy Policy</div>
      <div (click)="openPage('terms-page')"style="margin-left:20px;margin-right:20px">Terms</div>
      <div (click)="openPage('replacement-policy')">Refund Policy</div>
    </div>
    <div class="subHeading2">© 2023 Aasthika Pharmacy</div>
  </div>
  </ion-footer>