<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="loading == false" style="padding:0px 12px 0px 12px">
    <img src="../../assets/imgs/dark-logo.png" style="width:65%;margin-top: 18px;" />
    <p [innerHTML]="content"></p>
    <div (click)="open('https://arambaghplaza.com/')" style="color:#10C841;font-size:14px">www.arambaghplaza.com</div>
    <div style="padding-bottom: 20px;display: flex; justify-content: flex-start; align-items: center; flex-direction: row;margin-top:12px">
    <ion-icon (click)="open('https://m.facebook.com/Arambaghplazacom-104882800860206/')" name="logo-facebook" style="font-size: 25px;"></ion-icon>
    <ion-icon (click)="open('https://api.whatsapp.com/send?phone=+917365833384&text=*Hi Team Arambagh Plaza,* I would like to talk with your expert')" 
      name="logo-whatsapp" 
      style="font-size: 25px;margin-left:12px;margin-right:12px"
    >
    </ion-icon>

    <!-- <div (click)="open('website')" style="color:#10C841;font-size:14px">www.arambaghplaza.com</div>
    <div style="padding-bottom: 20px;display: flex; justify-content: flex-start; align-items: center; flex-direction: row;margin-top:12px">
    <ion-icon (click)="open('facebook')" name="logo-facebook" style="font-size: 25px;"></ion-icon>
    <ion-icon (click)="open('whatsapp')" 
      name="logo-whatsapp" 
      style="font-size: 25px;margin-left:12px;margin-right:12px"
    >
    </ion-icon> -->
    </div>
  </div>
  <div *ngIf="loading == true">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
<ion-footer class="ion-no-border" >   
  <div class="footerContainer" >
    <div class="subHeading">
      <div (click)="openPage('privacy-policy')">Privacy Policy</div>
      <div (click)="openPage('terms-page')"style="margin-left:20px;margin-right:20px">Terms</div>
      <div (click)="openPage('replacement-policy')">Replacement Policy</div>
    </div>
    <div class="subHeading2">© 2023 Aashtika</div>
  </div>
  </ion-footer>