<ion-content >

<div style="text-align: end;padding-right: 12px; font-size: 25px; font-weight: bold;margin-top: 10px;">
  <ion-icon name="close-outline" (click)="closePopover()"></ion-icon>
</div>
<div style="margin-bottom: 6px;"></div>
<div style="padding: 0px 10px 10px 10px; text-align: left;">
  <div style="display: flex;justify-content: flex-start;">
    <div style="background: #055ea4;width:100%;color:#fff;padding:8px;font-weight: bold;text-align: center;"> {{comissionDetails?.name}} Agent Comission Stucture</div>
  </div>
  <div style="display: flex;justify-content: flex-start;">
    <div style="width:50%;border:1px solid #c2c2c2;padding:8px;font-weight: bold;"> Order Slave</div>
    <div style="width:50%;border:1px solid #c2c2c2;padding:8px;font-weight: bold"> Order Amount</div>
  </div>

  <div style="display: flex;justify-content: flex-start;" *ngFor="let key of comissionDetails?.order_agentcommissions">
    <div style="width:50%;border:1px solid #c2c2c2;padding:8px"> {{key?.name}}</div>
    <div style="width:50%;border:1px solid #c2c2c2;padding:8px"> {{key?.type == 'flat'?"₹":null}} {{key?.value}}{{key?.type == 'percent'?"%":null}} /Sale</div>
  </div>


</div>
</ion-content>
