.custom-header {
	.custom-toolbar {
		--background: var(--button-color);
	}

	.custom-segment {
		.custom-segment-btn {
			background: #EBEBEB;
			margin: 8px 3px;
			--indicator-color: none !important;
			letter-spacing: 1px;

			&.active {
				background: #39A3C3;
				color: #fff;
				font-weight: 600;
			}
		}
	}
}

ion-content {
	--ion-background-color: #fff;
}

.agentLebelContainer {
	padding: 4px 7px;
	width: 100%;
	background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* display: flex; */
	/* justify-content: space-between; */
	/* align-items: center; */
	border-radius: 0px 0px 10px 0px;
	font-size: 16px;
	color: #fffdfb;
	/* margin-top: 1px; */
	/* margin-bottom: 7px; */
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.product-main-content {
	.product-heading {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1px;
		padding: 15px 12px 10px 12px;
	}

	.product-heading2 {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 1px;
		padding: 4px 10px 10px 10px;

	}

	.items-main-div {
		display: flex;
		flex-wrap: wrap;
		// justify-content: center;
		justify-content: flex-start;
		padding: 0px 12px 8px 12px;

		.item-loop-div {
			// width:45%;
			width: 47%;
			margin: 5px;

			.item-div {
				position: relative;
				border: 1px solid #00000029;
				border-radius: 4px;
				// new added ==>
				// min-height: 300px;
				min-height: 280px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				// new added END ==>
				.item-image {
					object-fit: cover;
					width: 80%;
					margin-top: 8px;
					margin-left: 8px;
				}

				.item-title {
					font-size: 13px;
					letter-spacing: 0.5px;
					padding: 5px 5px 0px 10px;
					font-weight: 500;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 2;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					width: 98%;
				}

				.content-price {
					font-size: 14px;
					letter-spacing: 0.5px;
					padding: 0px 10px;
					font-weight: 700;

					.actual-price {
						text-decoration: line-through;
						margin-left: 10px;
						font-size: 13px;
						color: #8c8b8b;
					}
				}

				.item-variant {
					font-size: 13px;
					letter-spacing: 0.5px;
					padding: 0px 5px 5px 10px;
					color: green;
					text-transform: capitalize;
				}

				.btn-addtoCart {
					font-size: 13px;
					padding: 8px 5px;
					color: white;
					text-align: center;
					margin: 5px 10px;
					margin-bottom: 10px;
					background: var(--button-color);
					border-radius: 5px;
				}

				.btn-incDesc {
					color: white;
					text-align: center;
					margin: 5px 10px;
					margin-bottom: 10px;
					font-size: 15px;
					letter-spacing: 0.5px;
					background: var(--button-color);
					border-radius: 7px;
					display: flex;

					.icon-incDesc {
						flex: 1;
						display: flex;
						background: var(--button-color);
						padding: 2px;
						justify-content: center;
						font-size: 15px;
						letter-spacing: 0.5px;
						font-size: 1.5rem;
						border-radius: 4px;
					}

					.btn-count {
						flex: 1;
						display: flex;
						background: white;
						border: 0.5px solid var(--button-color);
						;
						padding: 1px;
						justify-content: center;
						font-size: 1rem;
						color: black;
						flex-direction: column;
						font-size: 15px;
						letter-spacing: 0.5px;
						padding-top: 4px;
					}
				}


			}
		}
	}
}

.custom-content {
	.product-main {
		margin: 15px;
		margin-top: 1px;

		.title-div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.product-title {
				display: flex;
				flex: 1;
				min-height: 50px;
				padding-right: 10px;
				font-size: 15px;
				font-weight: 600;
				letter-spacing: 0.5px;
				padding-top: 15px;
			}

			.favIcon-div {
				display: flex;
				margin-right: 10px;
				flex-direction: column;
				justify-content: center;
				width: 30px;

				.fav-icon {
					padding: 4px;
					background: #fff;
					border-radius: 50%;
					padding-top: 5px;
					box-shadow: 0px 0px 10px 0px #949499;
					font-size: 26px;



				}
			}
		}

		.product-img-div {
			margin: 20px 0;

			.product-image {
				width: 100%;
				height: 50vw;
				object-fit: contain;
			}
		}

		.product-discount {
			font-size: 14px;
			letter-spacing: 0.8px;
			color: #056EAB;
			padding: 5px 0;
		}

		.product-cart-mainDiv {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 12px;

			.product-cart-secOne {
				display: flex;
				flex: 1.5;
				flex-direction: column;

				.content-price {
					font-size: 18px;
					font-weight: 600;

					.actual-price {
						color: #A7A7A7;
						text-decoration: line-through;
						margin-left: 5px;
						font-size: 15px;
					}
				}

				.tax-div {
					color: #A7A7A7;
					font-size: 13px;
					letter-spacing: 0.7px;
					margin-top: 3px
				}
			}

			.product-cart-secTwo {
				display: flex;
				flex: 1;
				justify-content: flex-end;

				.btn-addtoCart {
					padding: 8px 10px;
					color: white;
					text-align: center;
					margin: 5px 10px;
					margin-bottom: 10px;
					background: var(--button-color);
					;
					border-radius: 6px;
					width: 100px;
					font-size: 15px //new added
				}

				.btn-incDesc {
					color: white;
					text-align: center;
					margin: 5px 10px;
					margin-bottom: 10px;
					font-size: 15px;
					letter-spacing: 0.5px;
					background: var(--button-color);
					;
					border-radius: 7px;
					display: flex;

					width: 100px; //new added

					.icon-incDesc {
						flex: 1;
						display: flex;
						background: var(--button-color);
						;
						padding: 2px;
						justify-content: center;
						font-size: 15px;
						letter-spacing: 0.5px;
						font-size: 1.5rem;
						border-radius: 4px;
					}

					.btn-count {
						flex: 1;
						display: flex;
						background: white;
						padding: 1px;
						border: 0.5px solid var(--button-color);
						;
						justify-content: center;
						font-size: 1rem;
						border-radius: 4px;
						color: black;
						flex-direction: column;
						font-size: 15px;
						letter-spacing: 0.5px;
						padding-top: 4px;
					}
				}
			}
		}

		// .product-variant{
		// 	background: #10C841; width: 90px; padding: 9px 10px; text-align: center;
		// 	letter-spacing: 0.7px; color: white; font-weight: 600; border-radius: 6px;
		// 	padding-top: 13px; font-size: 15px;
		// }

		.custom-segment {
			width: 90vw;

			.custom-segment-btn {
				background: #fff;
				border: 1px solid #D5DBE1;
				margin: 8px 3px;
				width: 50px;
				max-width: 50px;
				--indicator-color: none !important;
				letter-spacing: 1px;
				//   font-size: 13px;
				font-size: 11px;

				&.active {
					background: #fff;
					border: 1px solid #10C841;
					;
					color: #000;
					font-weight: 600;
				}
			}
		}

		.custom-color-segment {
			width: 90vw;

			.custom-segment-btn {
				// background: #EBEBEB;
				margin: 4px 5px;
				--indicator-color: none !important;
				letter-spacing: 1px;
				font-size: 13px;
				height: 35px;
				width: 35px;
				max-width: 35px;
				border-radius: 5px;
				opacity: 0.2;

				&.active {
					color: #fff;
					border: 0.5px solid pink;
					opacity: 1;

				}
			}
		}



		.product-desc-div {
			margin: 15px 0;

			.desc-heading {
				font-size: 16px;
				font-weight: 600;
				letter-spacing: 1px;
				padding-bottom:2px;
			}

			.desc-value {
				font-size: 14px;
				letter-spacing: 0.7px;
				font-weight: 500;
				color: #6A6A6A;
			}
		}



	}
}


.custom-footer {
	display: flex;
	border-top: 0.8px solid #D5DBE1;
	color: white;
	background: #FFF;

	.footer-main {
		// height: 65px;
		height: 58px;
		background: #BA8B02;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		width: 100vw;
		margin: 10px;
		border-radius: 7px;
		display: flex;
		justify-content: space-between;

		.footer-sec-one {
			display: flex;
			flex: 1;

			.sec-one-main {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 15px;
				font-size: 16px;
				letter-spacing: 1px;
				font-weight: 500;

				.sec-one-quantity {
					height: 35px;
					width: 35px;
					// height: 40px; width: 40px; 
					border: 1px solid white;
					text-align: center;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}

			.sec-one-price {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 15px;
				font-size: 16px;
				letter-spacing: 1px;
				font-weight: 500;
				padding-top: 5px;
			}
		}

		.footer-sec-two {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 15px;
			font-size: 15px;
			letter-spacing: 1px;
			font-weight: 600;
		}
	}
}

.main-banner-div {
	width: 100%;

	.slider-img {
		width: 100%;
		//margin-top:px
	}

	.slider-img2 {
		width: 100%;
		margin-top: 8px
	}
}

.price-discount {
	padding-bottom: 4px;
	color: #10C841;
	letter-spacing: 0.5px;
	font-size: 13px;
	margin-left: 1px;
}

.fav-icon-filled {
	padding: 4px;
	background: #fff;
	border-radius: 50%;
	padding-top: 5px;
	box-shadow: 0px 0px 10px 0px #949499;
	font-size: 26px;
	color: #FF0000;
	animation: zoom-in-zoom-out 2s ease-out
}


@keyframes zoom-in-zoom-out {
	0% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(1.2, 1.2);
	}

	100% {
		transform: scale(1, 1);
	}
}

.product-title {
	padding-right: 10px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding-top: 15px;
}

.tax-div {
	color: #848383;
	font-size: 14px;
	letter-spacing: 0.5px;
	margin-top: 9px;
	margin-bottom: 6px;
	text-transform: capitalize;
}