<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Product Details</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="custom-content" [scrollEvents]="true">
  <div class="product-main">
    <div class="title-div">
      <div class="product-title"></div>
      <div class="favIcon-div">
        <ion-icon (click)="favFunction(true)" *ngIf="productFullData?.is_wishlist == false" name="heart-outline"
          class="fav-icon"></ion-icon>
        <ion-icon (click)="favFunction(false)" *ngIf="productFullData?.is_wishlist == true" name="heart"
          class="fav-icon-filled"></ion-icon>
      </div>
    </div>
    <div class="main-banner-div">
      <ion-slides startAutoplay *ngIf="productFullData?.product_images?.length == 0">
        <!-- <ion-slide *ngFor="let imageURL of banner;"> -->
        <ion-slide>
          <img (click)="previewPhoto(productFullData?.image_path)" class="slider-img2"
            [src]='productFullData?.image_path'>
        </ion-slide>

      </ion-slides>

      <ion-slides startAutoplay *ngIf="productFullData?.product_images?.length > 0">
        <ion-slide *ngFor="let imageURL of productFullData?.product_images;">
          <img (click)="previewPhoto(imageURL)" class="slider-img2" [src]='imageURL'>
        </ion-slide>
      </ion-slides>
    </div>


    <!-- <div class="product-discount">You save ₹10 in this order</div> -->
    <div class="product-title">{{productFullData?.name}}</div>
    <div class="tax-div" *ngIf="productFullData?.brand">By {{productFullData?.brand?.name}}</div>

    <div class="product-cart-mainDiv">

      <div class="product-cart-secOne">
        <div class="price-discount" *ngIf="visableProduct?.offeredprice != null">Save amount ₹
          {{(visableProduct?.price-visableProduct?.offeredprice).toFixed(2)}}</div>
        <div class="content-price" *ngIf="visableProduct?.price">RS {{visableProduct?.offeredprice ==
          null?(visableProduct?.price).toFixed(2) :(visableProduct?.offeredprice).toFixed(2)}}
          <span class="actual-price" *ngIf="visableProduct?.price"> {{visableProduct?.offeredprice != null ?'₹
            '+(visableProduct?.price).toFixed(2):null}} </span>
        </div>
        <div class="tax-div" *ngIf="visableProduct?.price">( Inclusive of all taxes )</div>
      </div>

      <div class="product-cart-secTwo">
        <!-- <div class="btn-addtoCart" *ngIf="!showIncDescBtn" (click)="addToCart()">Add to cart</div>

        <div class="btn-incDesc" *ngIf="showIncDescBtn" (click)="addToCart()">
          <div class="icon-incDesc">-</div>

          <div class="btn-count">{{visableProduct?.cart_quantity}}</div>

          <div class="icon-incDesc">+</div>
        </div> -->
        <div style="margin-bottom: 4px;" *ngIf="visableProduct?.quantity != '0'">
          <div class="btn-addtoCart" *ngIf="visableProduct?.cart_quantity == 0" (click)="addToCart(visableProduct,1)">
            Add to cart</div>

          <div class="btn-incDesc" *ngIf="visableProduct?.cart_quantity > 0">
            <div class="icon-incDesc" (click)="addToCart(visableProduct,-1)">-</div>

            <div class="btn-count">{{visableProduct?.cart_quantity}}</div>

            <div class="icon-incDesc" (click)="addToCart(visableProduct,1)">+</div>
          </div>
        </div>
      </div>

    </div>


    <!-- <div class="product-variant">500 GM</div> -->

    <div>
      <div *ngIf="productFullData?.variant_options !=null && productFullData?.variant != null"
        style="font-size: 14px; letter-spacing: 0.5px; font-weight: 600; padding-bottom: 5px;margin-top:15px">
        Available {{productFullData?.variant}}
      </div>
      <ion-segment class="custom-segment" scrollable mode="md" [(ngModel)]="sizeOrVariant">
        <ion-segment-button
          [ngClass]="product == visableProduct?.variant_name  ? 'custom-segment-btn active' : 'custom-segment-btn' "
          mode="ios" value="{{product}}" *ngFor="let product of productFullData?.variant_options; let i=index;"
          (click)="changeSizeOrVariant(product)">
          <p class="product-variant">{{product}}</p>
        </ion-segment-button>
      </ion-segment>
    </div>


    <div style="margin-top: 10px;">
      <div *ngIf="productFullData?.colors !=null && productFullData?.colors != '' "
        style="font-size: 14px; letter-spacing: 0.5px; font-weight: 600; padding-bottom: 5px;">
        Available Color
      </div>
      <ion-segment class="custom-color-segment" scrollable mode="md" [(ngModel)]="productColorCode">
        <!-- [ngClass]="productColorCode == productColor.id ? 'custom-segment-btn active' : 'custom-segment-btn' " -->
        <ion-segment-button
          [ngClass]="visableProduct?.color == productColor ? 'custom-segment-btn active' : 'custom-segment-btn' "
          mode="ios" value="{{productColor}}" *ngFor="let productColor of productFullData?.colors; let i=index;"
          (click)="changeProductColor(productColor)" [ngStyle]="{'background': productColor? productColor : '#000'}">

        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="product-desc-div">
      <div class="desc-heading" style="margin-top:22px" *ngIf="productFullData?.name">Product Information</div>
      <!-- <div class="desc-value" [innerHTML]="sanitizer.bypassSecurityTrustHtml(productFullData?.description)"></div> -->
      <div class="desc-value" [innerHTML]="productFullData?.description"></div>
    </div>

    <div class="product-desc-div">
      <div class="desc-heading" style="margin-top:22px" *ngIf="productFullData?.composition">Composition</div>
      <!-- <div class="desc-value" [innerHTML]="sanitizer.bypassSecurityTrustHtml(productFullData?.description)"></div> -->
      <div class="desc-value">{{productFullData?.composition?.name}}</div>
    </div>

  </div>



  <div class="product-main-content" style="background-color: #fff;" *ngIf="related_products != ''">
    <div class="product-heading">Related Products</div>
    <div class="items-main-div">
      <div class="item-loop-div" *ngFor="let item of related_products; let i=index">
        <div class="item-div">
          <div (click)="gotoProductDetails(item)">
            <img class="item-image" [defaultImage]="defaultImage" [lazyLoad]="item?.image_path" />
          </div>
          <div class="item-title">{{item?.name}}</div>

          <div class="content-price">₹ {{item.product_variants[0]?.offeredprice == null
            ?(item.product_variants[0]?.price).toFixed(2):(item.product_variants[0]?.offeredprice).toFixed(2)}} <span
              class="actual-price"> {{item.product_variants[0]?.offeredprice != null ?
              '₹'+(item.product_variants[0]?.price).toFixed(2):null}} </span></div>

          <div class="btn-addtoCart" (click)="gotoProductDetails(item)">
            View Details</div>

          <!-- Discount price lebel -->
          <div style="position: absolute;top:0;left:0;" *ngIf="item.product_variants[0].offeredprice != null">
            <div class="agentLebelContainer">
              <!-- ₹200 OFF -->
              ₹{{item?.product_variants[0]?.offeredprice ?  
                (item.product_variants[0].price-item.product_variants[0].offeredprice).toFixed(2)
                :0
              }} OFF
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</ion-content>

<ion-footer class="custom-footer" *ngIf="global?.globalCartCount >0 && global?.globalCartPrice >0">
  <div class="footer-main" (click)="gotoCart()">
    <div class="footer-sec-one">
      <div class="sec-one-main">

        <div class="sec-one-quantity">{{global?.globalCartCount}}</div>
      </div>
      <div>
        <div class="sec-one-price" style="padding-top:10px;font-size:13px;text-transform: uppercase;">MRP Total</div>
        <div class="sec-one-price" style="letter-spacing: 1px;font-weight: bold;padding-top: 2px;">
          ₹{{global?.globalCartPrice}}</div>
      </div>

    </div>
    <div class="footer-sec-two">View Cart</div>

  </div>
</ion-footer>