<ion-header class="custom-header" class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <div
      style="display: flex;flex-direction: row;margin-left:1px;padding-top: 12px; padding-bottom: 12px;justify-content: space-between;align-items: center;padding-right: 12px;">
      <div style="display: flex; justify-content: center; align-items: flex-start;flex-direction: column;">
        <div style="padding-left: 10px;font-size:14px;font-weight: 700;">Payout Request </div>
      </div>
      
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  
  
  <div *ngIf="payoutRequestArr != '' ">
    <div *ngFor="let list of payoutRequestArr; let i = index"
      style="display: flex;flex-direction: column;padding-top: 12px; padding-bottom: 12px;padding-left:16px;border-top: 0.5px solid #c9cdce;;background-color: #fff;">
      <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div class="supportcode">#{{list.code}}</div>
        <div
          style="font-weight: bold;padding-left: 4px;padding-right: 15px;font-size:13px;color:#181D20;text-transform:capitalize;font-weight: bold;">
          {{list.status}}
        </div>
      </div>
      
      <div *ngIf="list.remarks"
        style="margin-top: 4px;padding:0px 0px;padding-bottom:4px;display: flex; justify-content: space-between; align-items:center;flex-direction: row;color:#99AEA6">
        <div
          style="text-transform:capitalize;padding-left: 0px;padding-right: 10px;font-size: 13px;color:#404040;font-weight: 700;">
          {{list.remarks}}
        </div>
        
      </div>
     
      <div *ngIf="list.adminremarks"
      style="margin-top: 4px;padding:0px 0px;padding-bottom:4px;display: flex; justify-content: space-between; align-items:center;flex-direction: row;color:#99AEA6">
      <div
        style="text-transform:capitalize;padding-left: 0px;padding-right: 10px;font-size: 13px;color:#d82d02;font-weight: 700;">
        {{list.adminremarks}}
      </div>
      
    </div>

      <div
        style="margin-top: 4px;display: flex; justify-content: flex-start; align-items: flex-start;flex-direction: row;color:#99AEA6">
        <!--<img src="../../assets/imgs/loc.png" style="width:18px;height:18px" />-->
        <div style="font-size:13px;width: 15.9375rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          {{list.created_at}}
        </div>
        <div style="color:rgb(7, 41, 134);font-weight: 600;text-align: right;padding-right: 10px;font-size:14px;width: 15.9375rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          Rs. {{list.amount}}
        </div>
      </div>
    </div>
  </div>

  
  <div *ngIf="payoutRequestArr == '' && loading !=true" class="notFoundMain">
    <img  src="../../assets/imgs/not_data.gif" style="width:184px;" />
    <div style="margin-top:10px">Sorry!. No data found</div>
  </div>


  <div *ngIf="loading ==true">

    <ion-list>
      <ion-item *ngFor="item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="addNew()">
      <ion-icon name="add-circle-outline" style="font-size: 40px;"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>