

<ion-content>
  <div style="margin-top:80px">
  <ion-slides  startAutoplay [options]="slideOpts">
    
    <ion-slide style="display:flex;flex-direction:column">
      <img src='assets/imgs/1.png' style="width:85%;margin-top:8px">
      <h1 style="color:#0D0D0D;font-size:16px;font-weight: bold;">SHOPING FROM HOME</h1>
      <div style="color:#707070;font-size:13px;padding-left: 40px;padding-right: 40px">Search genuine medicines & shop online from here with discount price than market anytime.</div>
    </ion-slide>
    <!-- https://www.medszoo.com/wp-content/uploads/2020/07/png-6.png -->
    <ion-slide style="display:flex;flex-direction:column">
      <img src='assets/imgs/2.png' style="width:85%;margin-top:8px">
      <h1 style="color:#0D0D0D;font-size:16px;;font-weight: bold;">GET HOME DELIVERY</h1>
      <div style="color:#707070;font-size:13px;padding-left: 40px;padding-right: 40px">We are ready to deliver your order on-time at your doorstep at minimum price.</div>
    </ion-slide>
    <ion-slide style="display:flex;flex-direction:column">
      <img src='assets/imgs/easy-pay.jpg' style="width:100%;margin-top:8px">
      <h1 style="color:#0D0D0D;font-size:16px;;font-weight: bold;">EASY PAYMENT MODES</h1>
      <div style="color:#707070;font-size:13px;padding-left: 40px;padding-right: 40px">We accept cash on delivery and online payment options for every orders</div>
    </ion-slide>
  </ion-slides>

</div>
<div class="button" (click)="gotoSignin()">
  <div style="color:#fff">Get Started</div>
</div>


</ion-content>
