<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-buttons>
      <ion-back-button text="" icon="arrow-back-outline" style="color:#000;margin-top: 12px;
      margin-left: 15px;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="global-background">

<ion-content padding class="global-background">

  <div class="custom-otp-div">
    <div class="otp-sub-one">
      <div class="otp-main">
        <img src="assets/imgs/forgotPassword.png" style="height: 72px;margin-bottom: 15px;"/>
        <div class="class-verification">Create New Password</div>
        <div class="class-description">Your new password must be different from previously used password.</div>
      </div>
      <div style="margin-top:45px;display:flex;justify-content: flex-start;flex-direction: column;">
        <div class="subHeading">Old Password</div>
        <div class="passwordContainer">
          <ion-input [type]="old_passwordType" [(ngModel)]="oldpassword" placeholder="" class="paswordInput" clearOnEdit=false></ion-input>
          <ion-icon item-end [name]="old_passwordIcon" class="passwordIcon" (click)="hideShowPassword('old')"
            class="icon"></ion-icon>
        </div>

        <div class="subHeading" style="margin-top:20px">New Password</div>
        <div class="passwordContainer">
          <ion-input [type]="passwordType" [(ngModel)]="newpassword" placeholder="" class="paswordInput" clearOnEdit=false></ion-input>
          <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword('password')"
            class="icon"></ion-icon>
        </div>

        <div class="subHeading" style="margin-top:20px">Confirm Password</div>
        <div class="passwordContainer">
          <ion-input [type]="con_passwordType" [(ngModel)]="confirm_password" placeholder="" class="paswordInput" clearOnEdit=false>
          </ion-input>
          <ion-icon item-end [name]="con_passwordIcon" class="passwordIcon" (click)="hideShowPassword('con')"
            class="icon"></ion-icon>
        </div>
      </div>
    </div>

    <div style="display:flex;justify-content: center;align-items: center;padding:0px 25px 20px 25px">
      <div class="forgotBtn" (click)="changePassword()"><div style="color:#fff">Submit Request</div></div>
    </div>
  </div>
</ion-content>