ion-header ion-toolbar {
    --background:#76ba1b;
}
ion-content{
    --ion-background-color:#fff;
}
.product-main-content{
	.product-heading{
		font-size: 16px; font-weight: 600; letter-spacing: 1px; padding: 5px 12px 10px 12px;
	}
	.product-heading2{
		font-size: 16px; font-weight: 600; letter-spacing: 1px; padding: 4px 10px 10px 10px;
		
	}
	.items-main-div{
		display: flex; flex-wrap: wrap;
		// justify-content: center;
		justify-content: flex-start;
		padding: 0px 12px 8px 12px;
		.item-loop-div{
			// width:45%;
			width:47%;
			margin:5px;
			.item-div{
				border: 1px solid #00000029;
				border-radius:4px;
				// new added ==>
				// min-height: 300px;
				min-height: 180px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
                align-items: center;
				// new added END ==>
				.item-image{
                    object-fit: cover;
                    width: 85px;
                    height: 85px;
                    border-radius: 50%;
                    margin-top: 8px;
                    //margin-left: 13px;
                }
				.item-title{
					font-size: 13px; letter-spacing: 0.5px; padding: 5px 5px 0px 10px; font-weight: 500;overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 2;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					width: 98%;
                    color: #ff8b1b !important;
                    text-align: center;
                    padding: 6px 5px 0px 10px;
				}
				.content-price{
					text-align:center;font-size: 14px; letter-spacing: 0.5px; padding: 0px 10px;font-weight:700;margin-top: 6px;
					.actual-price{
						text-decoration:line-through;margin-left: 10px;font-size: 13px;color:#8c8b8b;
					}
				}
				.item-variant{
					font-size: 13px; letter-spacing: 0.5px; padding: 0px 5px 5px 10px; color: green;text-transform: capitalize;
				}
				
				.btn-addtoCart{
                    width: 100px;
					font-size: 13px;
					padding: 8px 5px; color: white; text-align: center;
					margin: 10px 10px;margin-bottom: 10px; background: #4c9a2a; border-radius: 5px;
				}
				
				.btn-incDesc{
					color: white; text-align: center; margin: 5px 10px;margin-bottom: 10px;
					font-size: 15px; letter-spacing: 0.5px; background: #4c9a2a; 
					border-radius: 7px;display: flex;
					.icon-incDesc{
						flex: 1; display: flex; background: #4c9a2a; padding: 2px;
						justify-content: center;font-size: 15px; letter-spacing: 0.5px;
						font-size: 1.5rem; border-radius: 4px;
					}
					.btn-count{
						flex: 1; display: flex; background: white;border:0.5px solid #4c9a2a;padding: 1px;
						justify-content: center; font-size: 1rem;  color: black;
						flex-direction: column;font-size: 15px; letter-spacing: 0.5px; padding-top: 4px;
					}
				}


			}
		}
	}
}

.agentLebelContainer{
    padding: 6px 18px;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    color: #fffdfb;
    margin-top: 6px;
    margin-bottom: 7px;
}

ion-footer{
    background-color: #fff;
    padding: 0px 12px;

}

.notFoundMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}