
ion-content{
	--ion-background-color:#fff;
}
.custom-header{
	.custom-toolbar{
		--background:#76ba1b;
	}

    .custom-segment{
        .custom-segment-btn{
					background: #EBEBEB;
					margin: 8px 3px;
					--indicator-color:none !important;
					letter-spacing: 1px;
					&.active{
						background: #39A3C3;
						color: #fff;
						font-weight: 600;
					}
        }
    }
}

.custom-content{
	
	.category-div{
		display: flex; flex-wrap: wrap;justify-content: flex-start;margin-top:10px;
		padding-bottom:10px;padding-top:2px;padding-left:8px;
		.category-loop-div{
			// height: 48vw; 
			//min-height: 47vw;
			width: 45vw; margin: 5px;
			//border: 1px solid #a4de02;
			background-color: #fff;
			border: 0.1px solid #defbb7;
			//border-top-right-radius: 4px;
			//border-top-left-radius: 14px;
			border-radius:6px;
			background-color: #fff;
			box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
			.category-item-div{
				// border: 1px solid #00000029;
				.category-img{
					// width: 85%;
					// object-fit: cover;
					// margin-top: 6px;
					// margin-left: 12px;
					// height: 104px;
					// min-height: 104px;
					// max-height: 104px;
					width: 85%;
					margin-top: 6px;
					margin-left: 12px;
					max-height: 104px;
				}
				.category-title{
					// background-color: #e8ffca;
					// min-height: 40px;
					// font-size: 13px;
					// letter-spacing: 1px;
					// font-weight: 600;
					// padding: 8px 5px 8px 12px;
					font-size: 13.4px;
					color: #e74b01;
					min-height: 45px;
					max-height: 45px;
					font-weight: bold;
					overflow: hidden;
					//background: #e74b01;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					
					.subcat-name{
						padding: 2px 10px;
						text-overflow: ellipsis;
					    -webkit-line-clamp: 2;
						overflow: hidden;
						text-overflow: ellipsis;
						-webkit-line-clamp: 2;
						display: -webkit-box;
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
}

.custom-skeleton ion-skeleton-text {
	line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
	margin-bottom: 5px;
  }