ion-content {
	--background: #fff;

	.main-container {
		padding-top: 12px;

		.closeContainer {
			text-align: right;
			font-size: 28px;
			margin-right: 0px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 5px 16px;

			.head-title {
				font-size: 18px;
				font-family: 'fontBold';
				color: #000;
			}
		}

		.divider {
			margin-top: 2px;
			//margin-bottom: 2px;
			height: 1px;
			background-color: #d8d8d8;
			width: 100%
		}

		.form {
			//padding: 0px 15px;
            display: flex;
            justify-content:flex-start ;  
            align-items:center;
            .topic-main{
                width: 30%;
                height: 100vh;
                overflow: auto;
                padding-top: 11px;
                .topics{
                    margin-bottom: 12px;
                    padding: 10px;
                    font-size: 14px;
				    font-family: 'fontBold';
                    color:#000;
                    border-right: 2px solid #000;
                    text-transform: capitalize;
                }
            };
            .topic-valueListMain{
                width: 70%;
                border-left:1px solid #d8d8d8;
                height: 100vh;
                overflow: auto;
                padding: 12px;
                padding-top: 2px;
                .valueItems{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 18px;
                    margin-top: 12px;
                    text-transform: capitalize;
                }
            }

		}
		
	}
}
ion-footer{
    .footerContainer{
        padding-top: 13px;
        padding-bottom: 13px;
        background-color: #fcfcfc;
        padding-right: 12px;
        padding-left: 12px;
        .button-container {
            margin-top: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .saveBtn {
                width: 50%;
            }
        
            .cancelBtn {
                width: 50%;
                background: transparent;
                color: #000;
                font-family: 'fontMedium';
                font-size: 1rem;
                color: var(--button-color);
                padding-left: 15px;
            }
        }
    }

}

.global-button {
    background-color: var(--button-color);
    border-radius: 6px;
    height: 44px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 1rem;
    font-family: "fontMedium";
    padding: 0 20px;
   // margin-top: 30px;
  }