<ion-content>
  <div class="main-container">
    <div class="closeContainer">
      <div class="head-title">Filters</div>
      <ion-icon name="close-outline" (click)="close()"></ion-icon>
    </div>
    <div class="divider"></div>
    <div class="form">

      <div class="topic-main">
        <div class="topics">
          Brands
        </div>
      </div>
      <div class="topic-valueListMain">
        <ion-searchbar color="light" placeholder="Search Band" [debounce]="1000" (ionInput)="handleInput($event)"
          class="searchbarinput">
        </ion-searchbar>
        <div class="valueItems" *ngFor="let key of bandArr">
          <div style="width: 10%;">
            <ion-checkbox justify="start" color="danger" (click)="selectOption(key)"></ion-checkbox>
          </div>
          <div style="margin-left: 12px;width: 90%;text-transform: capitalize;font-size: 14px;">{{key?.name}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="footerContainer">
    <div class="button-container">
      <div class="cancelBtn" (click)="clearAllFilter()">
        <div>Clear All</div>
      </div>
      <div class="global-button saveBtn" (click)="apply()">
        <div>Apply</div>
      </div>
    </div>
  </div>
</ion-footer>