ion-header ion-toolbar {
	--background:#76ba1b;
}

ion-back-button{
    --color: white !important;
}
.header{
	--background: #252222;
}
ion-content{
    --ion-background-color:#ffff;
}
.continueBtn{
    color: #fff;
    background-color: var(--secondary);
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 0px;
}

.container {
    display: flex;
    overflow: auto;
    padding-left:10px;
    padding-bottom: 20px;
  }
  
  .container > * {
    flex-shrink: 0;
    width: 10em;
    //height: 10.54em;
    background: #77ba1a;
    border-radius: 10px;
    margin-right: 10px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  
  .notFoundMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
  }
  
  ion-alert .alert-title.sc-ion-alert-md {
    font-size: 16px;
    font-weight: 600;
    color: var(--black-color);
  }

  