ion-header ion-toolbar {
    --background:var(--button-color);
}

ion-back-button{
    --color: white !important;
}

ion-back-button{
    button{
        .button-inner{
            text-align: left !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: flex-start !important;
        }
    }
}

ion-content{
    --ion-background-color:#fff;
}

.flex-div{
    .input-form{
        max-width: 450px;
        margin: 0 auto;
        width: 100%;
        padding-top:2px !important;
        padding: 0 16px;
        padding-left:25px;
        padding-right:25px;

        .headingLabel{
            font-size:22px;
            font-weight: bold;
            color: var(--primary) ;
        }
        .subHeading{
            margin-top: 20px;
            font-size: 14px;
            font-weight: 700;
            color: var(--black-color)
        }
        .textInput{
            border: 1px solid #D5DBE1;
            border-radius: 5px;
            font-size: 14px;
            color: #121F3E;
            margin-top:15px;
            height:50px;
            padding-right:8px;
         
        }
        .paswordInput{
            font-size: 14px;
            color: #121F3E;
            padding-right:8px
        }
        .passwordContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            border: 1px solid #D5DBE1;
            border-radius: 5px;
            margin-top: 15px;
            padding-right: 12px;
            height:50px
        }
        .icon{
            height: 25px;
            width: 25px;
            color:#96A0B5
        }

        .button{
            background-color: var(--hightLight-color);
            margin-top:40px;
            display:flex;
            justify-content:center;
            padding:12px;
            align-items:center;
            border-radius:5px;
            color: #000;
        }   
    }
}



ion-input {
    --padding-end: 12px;
}