<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button text="" icon="arrow-back-outline"  ></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      Edit Account
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button style="width:55px">
        <ion-icon slot="icon-only" name="cart-outline" style="font-size: 30px;"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding class="content-background">
    <div class="flex-div">
      <div class=input-form padding>
        <div >
          <div class="subHeading">Full name</div>
          <ion-input type="text" [(ngModel)]="first_name" placeholder="First Name" class="textInput" clearOnEdit=false></ion-input>
        </div>

        <!-- <div style="margin-top:20px">
          <div class="subHeading">Last Name</div>
          <ion-input type="text" [(ngModel)]="login" placeholder="Last Name" class="textInput" clearOnEdit=false></ion-input>
        </div> -->

        <div style="margin-top:20px">
          <div class="subHeading">Email</div>
          <ion-input type="tel" [(ngModel)]="email" placeholder="Email" class="textInput" clearOnEdit=false readonly></ion-input>
        </div>
        <div style="margin-top:20px">
          <div class="subHeading">Mobile number</div>
          <ion-input type="tel" [(ngModel)]="mobile" placeholder="Mobile number" class="textInput" clearOnEdit=false
            readonly></ion-input>
        </div>


        <div class="button" (click)="goLogin()">
          <div style="color:rgb(8, 8, 8)">Update Details</div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-content>