<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-buttons>
      <ion-back-button text="" icon="arrow-back-outline" style="color:#000;margin-top: 12px;
      margin-left: 15px;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="content-background">
  <div class="flex-div">
    <div class=input-form padding>
      <div class="headingLabel">Add Customer</div>

      <div style="margin-top:45px">
        <div class="subHeading">Full name</div>
        <ion-input [(ngModel)]="full_name" type="text" placeholder="Full name" class="textInput" clearOnEdit=false></ion-input>

        <div class="subHeading">Email</div>
        <ion-input [(ngModel)]="email" type="text" placeholder="Email" class="textInput" clearOnEdit=false></ion-input>

        <div class="subHeading">Mobile number</div>
        <div class="passwordContainer" style="padding-left:12px;padding-right: 0px;">
          <div style="color:#121F3E;font-size: 14px;">+91</div>
          <ion-input maxLength="10" [(ngModel)]="mobile_number" type="tel" class="paswordInput" clearOnEdit=false></ion-input>
        </div>

        <!-- <div class="subHeading">Password</div>
        <div class="passwordContainer">
          <ion-input [(ngModel)]="password" [type]="passwordType" placeholder="Password" class="paswordInput" clearOnEdit=false></ion-input>
          <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword('password')"
            class="icon"></ion-icon>
        </div>

        <div class="subHeading">Confirm Password</div>
        <div class="passwordContainer">
          <ion-input [(ngModel)]="confirm_password" [type]="con_passwordType" placeholder="Confirm Password" class="paswordInput" clearOnEdit=false>
          </ion-input>
          <ion-icon item-end [name]="con_passwordIcon" class="passwordIcon" (click)="hideShowPassword('con')"
            class="icon"></ion-icon>
        </div> -->
      </div>

      <div class="button" (click)="signupFunction()">
        <div style="color:#fff" >Create Customer</div>
      </div>
    </div>
    
  
    <!-- <ion-footer class="ion-no-border">
     
      <div class="footerContainer" (click)="gotoSignin()">
        <div class="subHeading">Already have an account?</div>
        <div class="subHeading2">Sign In</div>
      </div>
    </ion-footer> -->
  </div>
</ion-content>



<!-- <ion-icon class="ios-eye-off"  (click)="passwordToggle('show')" name="ios-eye-outline" item-right></ion-icon> -->