
.header{
    --background: #fff;
}
ion-content{
    --ion-background-color:#fff;
}
    

.flex-div{
    .input-form{
        max-width: 450px;
        margin: 0 auto;
        width: 100%;
        padding-top:30px !important;
        padding: 0 16px;
        padding-left:25px;
        padding-right:25px;

        .headingLabel{
            font-size:22px;
            font-weight: bold;
            color: var(--primary) ;
        }
        .subHeading{
            margin-top: 20px;
            font-size: 14px;
            font-weight: 700;
            color: var(--black-color)
        }
        .textInput{
            border: 1px solid #D5DBE1;
            border-radius: 5px;
            font-size: 14px;
            color: #121F3E;
            margin-top:15px;
            height:50px;
            padding-right:8px;
            .native-input.sc-ion-input-md {
                padding-right: 10px !important;
            }
        }
        .paswordInput{
            font-size: 14px;
            color: #121F3E;
            padding-right:8px
        }
        .passwordContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            border: 1px solid #D5DBE1;
            border-radius: 5px;
            margin-top: 15px;
            padding-right: 12px;
            height:50px
        }
        .icon{
            height: 25px;
            width: 25px;
            color:#96A0B5
        }

        .button{
            background-color: var(--secondary);
            margin-top:40px;
            display:flex;
            justify-content:center;
            padding:12px;
            align-items:center;
            border-radius:5px
        }   
    }
}


ion-input {
    --padding-end: 12px;
}

ion-footer{
    .footerContainer{
        padding-top: 35px;
        padding-bottom: 45px;
        
        padding-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        .subHeading{
            font-size: 14px;
            font-weight: 700;
            color: #121F3E
        }
        .subHeading2{
            font-size: 14px;
            font-weight: 700;
            color: #848994;
            margin-left:4px
        }
    }
}

