.custom-header{
	.custom-toolbar{
		--background:var(--button-color);
	}
	.custom-segment{
		.custom-segment-btn{
			background: #EBEBEB;
			margin: 8px 3px;
			--indicator-color:none !important;
			letter-spacing: 1px;
			&.active{
				background: #39A3C3;
				color: #fff;
				font-weight: 600;
			}
		}
	}

	// .main-div{
	// 	.manage-order-div{
	// 		display: flex;flex-direction: row;font-size: 15px;letter-spacing: 0.5px;
	// 		justify-content: space-between;background: white;padding: 15px;
	// 		.column-sec{
	// 			display: flex;flex-direction: column;justify-content: center;
	// 			.column-sec-title{
	// 				font-size: 16px; letter-spacing: 0.5px;
	// 			}
	// 			.column-sec-btn-div{
	// 				display: flex; flex-direction: row; justify-content: center;
	// 				background: #056EAB; padding: 7px 15px; border-radius: 10px;
	// 				.btn-icon{
	// 					font-size: 26px; color: white;
	// 				}
	// 				.btn-title{
	// 					display: flex; justify-content: center; flex-direction: column;
	// 					padding-left: 10px; color: white; font-weight: 600;
	// 					letter-spacing: 0.5px; font-size: 15px;
	// 				}
	// 			}
	// 		}
	// 	}
	// }

}

.custom-content{
	background: #EBEBEB;
	.main-div{
		
		&.addMarginTop{
			margin-top: 15px;
		}
		.manage-order-div{
			// &.addMarginTop{
				&.changeToColumn{
					flex-direction: column;
				}
			// }
			display: flex;flex-direction: row;font-size: 15px;letter-spacing: 0.5px;
			justify-content: space-between;background: white;padding: 15px;
	
	
	
			.column-sec{
				display: flex;flex-direction: column;justify-content: center;
				&.changeToRow{
					flex-direction: row;
					justify-content: space-between;
					&.addPaddingTop{
						padding-top: 15px;
					}
				}
				.column-sec-title{
					font-size: 16px; letter-spacing: 0.5px;
				}
				.column-sec-btn-div{
					display: flex;
					flex-direction: row;
					justify-content: center;
					background: #dedddd;
					padding: 3px 8px;
					border-radius: 6px;
					.btn-icon{
						font-size: 25px; color: white;margin-right: 5px;
					}
					.btn-title{
						display: flex; justify-content: center; flex-direction: column;
						 color: #000; font-weight: 600;
						letter-spacing: 0.5px; font-size: 14px;
					}
				}
				//Product section
				.sec-item{
					&.textToRight{
						text-align: right;
					}
					.item-heading{
						font-size: 14px;
						color: #5E5E5E;
						letter-spacing: 0.5px;
						padding-bottom: 5px;
					}
					.itemstatus{
						.status-div{
							background: #C810BC;
							padding: 6px 10px;
							font-size: 13px;
							font-weight: 500;
							color: white;
							border-radius: 4px;
							&.cancel{
								background: #fbdfe0;
    							color: #a70000;
							}
							&.pending{
								background: #d4d2d2;
								color: #1d1d1d;
							}
							&.inprogress{
								background: #ffe386;
								color: #000;
							}
							
							&.delivered{
								background: #cbf3b9;
    							color: #0d3c00;
							}
						}
					}
				}
	
			}
		}
	
		//Item section
		.item-div{
			background: white;border-top: 0.4px solid #00000029;
			.item-section{
				display: flex;flex-direction: row; padding: 15px;
				.item-img-div{
					height: 50px;width: 50px;
					.item-image{
						//height: 50px;
						width: 100%;
						object-fit: cover;
					}
				}
				.item-details{
					display: flex;flex-direction: column;justify-content: center;padding-left: 10px;
					.item-title{
						font-size: 15px;letter-spacing: 0.5px;
						&.changeColor{
							color: #5E5E5E;
						}
					}
				}
	
			}
			.addmore-sec{
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				padding: 15px;
				color: #056EAB;
				font-size: 14px;
				letter-spacing: 0.5px;
				font-weight: 500;
				border-bottom: 0.5px solid #00000029;
			}
	
			.item-btn-div{
				display: flex;flex-direction: row;justify-content: space-between;padding:15px;
				.btn-sec{
					flex: 1;
					height: 40px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					background: #1d1d1d;
					color: white;
					text-align: center;
					border-radius: 5px;
					font-size: 14px;
					&.changeBackground{
						background: var(--button-color);
						margin-left: 15PX;
					}
	
				}
			}
		}
	}
}

.custom-skeleton ion-skeleton-text {
	line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
	margin-bottom: 5px;
  }

  .btnContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-direction:row;
	.button{
		background-color: var(--hightLight-color);
		color: rgb(0, 0, 0);
		margin-top:9px;
		display:flex;
		justify-content:center;
		padding:12px;
		align-items:center;
		border-radius:5px;
		width:100%
	}
}