
ion-menu{
  ion-content{
      --ion-background-color: linear-gradient(to right bottom, #d12124, #9e1a23, #6d161d, #3d1114, #130000);
  
  }
  ion-footer{
      --ion-background-color: linear-gradient(to right top, #830102, #96090b, #a91212, #bd1a1a, #d12122);
     
  
  }
 
}

.appversion{
  padding: 8px;
  color: #acdd8a;
  background: #2b6e36;
}

.be-agent-container{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #4b9b38, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
  color: #f1ff04;
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #449339;
}

@keyframes be-agent-container{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }

  blink {
      display: inline;
      color: inherit;
      animation: blink 1s steps(1) infinite;
      -webkit-animation: blink 1s steps(1) infinite;
  }
  @keyframes blink { 50% { color: transparent; } }
  @-webkit-keyframes blink { 50% { color: transparent; } }
  
.agentLebelContainer{
  padding: 3px 4px;
  width: 100px;
  background-color: #f7e1cf;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 13px;
  color: #a65101;
  margin-top: 6px;
  margin-bottom: 7px;
}
.segmentContainer{
  margin-top:25px;
  padding-left:25px;
  padding-right:20px;
  .name{
      font-size: 16px;
      letter-spacing: 0.5px;
      font-weight:bold;color:#fff;
      margin-top:8px;
      padding-right:25px;
      text-transform: uppercase
  };
  .editProfile{
      // font-size: 14px;
      font-size: 16px;
      color:#fff700;
      margin-top:6px
  }
}

.title{
  // font-size: 14px;
  font-size: 16px;
  color:#fff;
  margin-top:30px
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.avatar-icon{
  width:70px;
  height:70px;
  border-radius:50%;
  background-color: var(--hightLight-color);
  color:var(--black-color);
  border:1.5px solid #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 45px;
}
