<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="segmentContainer">
          <div class="avatar-icon">
            {{global.userdetails?.name? global.userdetails.name.charAt(0) : 'A'}}
          </div>
          <div class="name">{{global.userdetails?.name}}</div>
          <!-- <div class="agentLebelContainer"><div>Label 1 Agent</div></div> -->
          <div class="editProfile" (click)="viewProfile()">View Profile</div>
        </div>
        <div class="segmentContainer">
          <div class="title" (click)="navigateURL('./main-dashboard')">
            Home
          </div>
         
          <div class="title" (click)="navigateURL('./category-list')">
            Shop by Category
          </div>
          <div class="title" (click)="navigateURL('./product-checkout')">
            My Cart
          </div>
          <!-- (click)="navigateURL('./my-orders')" -->
          <div class="title" (click)="navigateURL('./my-orders')">
            
            My Orders
          </div>
          <div class="title" (click)="navigateURL('./wishlist')">
            My Wishlist
          </div>
          <div class="title" (click)="navigateURL('./notifications')">
            Notifications
          </div>
          <div class="title" (click)="navigateURL('./support-list')">
            Help & Support
          </div>
          <div class="title" (click)="navigateURL('')">
            Share with friends
          </div>
        </div>
        <div class="segmentContainer" style="padding-bottom: 30px;">
         
          <div class="title" (click)="logout()">
            Logout
          </div>
        </div>
      </ion-content>
      <!-- <ion-footer *ngIf="global.userdetails?.referral_code == null" (click)="navigateURL('./earning-program')">
        <div class="be-agent-container">
           <span style="animation: blink 1s linear infinite;">Join our earning program</span>
        </div>
      </ion-footer> -->
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
