ion-header ion-toolbar {
    --background:var(--button-color);
}

ion-back-button{
    --color: white !important;
}

ion-back-button{
    button{
        .button-inner{
            text-align: left !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: flex-start !important;
        }
    }
}

ion-content{
    --ion-background-color:#fff;
}

.mainContainer{
    background-color: #e7e7e7;
    //border-radius:30px 30px 0px 0px;
    padding-top:10px;
    height:135px; 
    overflow: scroll!important;
   
}



.notFoundMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}
