<ion-content padding class="content-background" >
	<div class="flex-div">
	  <div class=input-form padding>
		<div class="headingLabel">Hey,</div>
		<div class="headingLabel" style="margin-top:4px">Login Now.</div>
		<div class="subHeading">Please enter bellow information</div>

		<div style="margin-top:45px">
			<div class="subHeading">Login ID</div>
			<ion-input type="text" [(ngModel)]="email" placeholder="Enter email or mobile" class="textInput" clearOnEdit=false></ion-input>

			<div class="subHeading">Password</div>
			<div class="passwordContainer">
				<ion-input [type]="passwordType" [(ngModel)]="password" placeholder="Enter password" class="paswordInput" clearOnEdit=false ></ion-input>
				<ion-icon item-end  [name]="passwordIcon" class="passwordIcon"  (click)='hideShowPassword()' class="icon"></ion-icon>
			</div>
		</div>
		<div class="subHeading" (click)="gotoforgotPassword()">Forgot Password/ Reset</div>

		<div class="button" (click)="goLogin()"><div style="color:#fff">Sign In</div></div>
	  </div>
	  <ion-footer class="ion-no-border">   
		<div class="footerContainer" (click)="gotoSignUp()">
		  <div class="subHeading">Don't have an account ? </div>
		  <div class="subHeading2">Create New Account</div>
		</div>
	  </ion-footer>
	</div>
  </ion-content>

  
  
	 <!-- <ion-icon class="ios-eye-off"  (click)="passwordToggle('show')" name="ios-eye-outline" item-right></ion-icon> -->