ion-header ion-toolbar {
    --background:var(--button-color);
}

ion-back-button{
    --color: white !important;
}

ion-back-button{
    button{
        .button-inner{
            text-align: left !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: flex-start !important;
        }
    }
}

ion-content{
    --ion-background-color:#fff;
}
.custom-skeleton ion-skeleton-text {
	line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
	margin-bottom: 5px;
  }

  .subHeading{
    font-size: 14px;
}

.btnContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-direction:row;
	.button{
		background-color: var(--hightLight-color);
		color: var(--black-color);
		margin-top:9px;
		display:flex;
		justify-content:center;
		padding:12px;
		align-items:center;
		border-radius:5px;
		width:100%
	}
}

.continueBtn {
	color: var(--button-color);
	//background-color: var(--hightLight-color);
	border: 1px solid var(--button-color);
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 15px;
	border-radius: 5px;

}
