<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      My Addresses
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="padding:15px;padding-top:6" *ngIf="addresses != ''">
    <div class="continueBtn" (click)="addNewAddress()">
      Add new address
    </div>
  </div>
  
  <div style="padding:15px;padding-top:6" *ngIf="addresses !=''">
    <div style="color:#292828;font-size: 14px;margin-bottom: 15px;">CHOOSE DELIVERY ADDRESS</div>
    <div *ngFor="let address of addresses;let i=index" style="padding: 0 15px;border-radius: 12px; " [ngStyle]="{background:address?.is_default == '1' ? '#06b5061f' :'none' }">
      <div style="display:flex;justify-content:space-between;flex-direction: row;">
        <div>
          <div style="color:#0D0D0D;font-size: 15px;font-weight: bold;margin-top:20px">{{address?.name}}</div>
          <div style="color:#0D0D0D;font-size: 13.5px;margin-top:5px;text-transform: capitalize;">{{address?.full_address?.address_line1}}</div>
          <div style="color:#0D0D0D;font-size: 13.5px;margin-top:5px;text-transform: capitalize;">{{address?.full_address?.landmark}}</div>
          <div style="color:#0D0D0D;font-size: 13.5px;margin-top:5px">{{address?.mobile}}</div>
          <div style="margin-top: 15px;">
            <span 
            style="border-radius: 20px;
            text-align: center;
            background-color: #056EAB;
            font-size: 14px;
            color: #fff;
            padding: 6px 14px;
            text-transform: capitalize;
            letter-spacing: 0.4px;">{{address?.type}}</span>
          </div>
        </div>
        <div style="margin-top:20px;font-size:20px;color:#0D0D0D">
          <ion-icon name="ellipsis-vertical-outline" (click)="presentActionSheet(address)"></ion-icon>
        </div>
      </div>
      <!-- Liner -->
      <div style="margin-top:20px;border-top:0.5px solid #D5DBE1"></div>
    </div>


  </div>


  <div *ngIf="addresses == '' && loading != true" style="display: flex; justify-content: center; align-items: center;flex-direction: column;padding: 80px 45px;background: #fff;
  height: 100%;"> 
    <img style="width:184px" src="assets/imgs/no-results.jpeg" />
    <div style="text-align: center;font-size: 16px;color: #000;margin-bottom: 7px;">Sorry, No Address Found</div>
    <div style="text-align: center;font-size: 14px; color:#7d7d7d">Add New Address and Continue Shopping.</div>
    <div class='btnContainer'>
      <div class="button" (click)="addNewAddress()">
        <div style="font-size:13px">Add Address</div>
      </div>
    </div>
  </div>
  
  <div *ngIf="addresses == '' && loading == true">
    <ion-list>
      <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  
  <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="addresses != ''">
    <ion-fab-button color="danger" (click)="addNewAddress()">
      <ion-icon name="add-circle-outline" style="font-size: 40px;"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->


  
</ion-content>