.header{
    --background: #fff;
}
ion-content{

    --ion-background-color:#fff;
}
.global-background{
    
    .custom-otp-div{
        display:flex;flex-direction:column;height: 100%;
        .otp-sub-one{
            display: flex;justify-content: flex-start;flex:1;flex-direction: column;;
            padding: 0px 25px 0px 25px;
            .otp-main{
                // background: white;
                text-align: center;
              //  padding-top:15px;
                border-radius: 35px;
                font-size: 16px;
                letter-spacing: 0.6px;
                font-weight: 500;
                .class-verification{
                    font-size: 22px;
                    padding-bottom: 10px;
                    font-weight: 600;
                    color: var(--black-color);
                    text-align:center
                }
                .class-description{
                    color: var(--text-color-secondary);
                    font-size: 14px;
                    text-align:center;
                    padding-right:35px;
                    padding-left:25px;
                    margin-top:10px;
                    font-weight:600;
                    line-height: 17px;
                }
             
                    .input-fields{
                        display: flex;
                        width: 80%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        margin: 0 auto;
                        margin-top:40px
                }

            }
        }
        .otp-sub-two{
            display: flex;justify-content: flex-start;flex-direction: column;flex:0.8;width: 100%;
          
            .signin-div{
                text-align: center;
                letter-spacing: 1px;
                font-size: 14px;
                margin: 25px 0px 10px 0px;
                .bold-class{
                    // color:color($colors, primary);
                    color: #fff;
                }
            }
        }
    }
}

ion-input {
    //--background:#F6F5F8;
    --padding-start:0
    
}
.subHeading{
    font-size: 14px;
    font-weight: 700;
    color: #121F3E;
   
}

.textInput{
    border: 1px solid #D5DBE1;
    border-radius: 5px;
    font-size: 14px;
    color: #121F3E;
    margin-top:15px;
    height:50px;
    padding-left:8px;
    text-align: left;
    
}
ion-input {
    --padding-start: 12px;
}

.forgotBtn{
    background-color: var(--secondary);
    margin-top:40px;
    display:flex;
    justify-content:center;
    padding:15px;
    align-items:center;
    border-radius:5px;
    width:100%
} 
.paswordInput{
    font-size: 14px;
    color: #121F3E;
    padding-right:8px
}
.passwordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #D5DBE1;
    border-radius: 5px;
    margin-top: 15px;
    padding-right: 12px;
    height:50px
}
.icon{
    height: 25px;
    width: 25px;
    color:#96A0B5
}
ion-input {
    --padding-end: 12px;
}
.resendBtn{
    color:#121F3E;
    font-weight:bold;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}