ion-header ion-toolbar {
  --background: var(--button-color) ;
}

ion-back-button{
  --color: white !important;
}
ion-content {
	--ion-background-color: #fff;
}

ion-back-button{
  button{
      .button-inner{
          text-align: left !important;
          display: flex !important;
          flex-direction: row !important;
          justify-content: flex-start !important;
      }
  }
}


.my-custom-class {
	--background: #222;
  }
  .my-custom-class .modal-wrapper {
	background: #222;
  }
  .container {
	//padding: 16px;
  background-color: #fff !important;
  .search_box {
    background: #fff;
    width: calc(100% - 0px);
    border-radius: 3px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
    min-height: 50px;
    z-index: 99;

    ion-icon {
        color: #000;
        font-size: 1.4rem;
        min-width: 35px;
        height: 35px;
        line-height: 35px;
        z-index: 99;

        &.zmdi-gps-dot {
            font-size: 1.5rem;
            color: #000;
        }
    }

    ion-searchbar {
        --background: transparent !important;
        // --color: var(--text-light2);
        --placeholder-opacity: 1;
        --placeholder-font-weight: 400 !important;
        --box-shadow: none !important;
    }
}
  .search-list {
	// border-top: 4px solid var(--ion-color-bodybackground);
	// background: transparent;
	position: absolute;
	width: 100%;
	z-index: 99;
	background: #ffffff;
	// color: white;
	margin: 0;
	// max-height: 320px;
	overflow: auto;
	padding: 0;
	.searched-item{
		display: flex;
		font-size: 13px;
		letter-spacing: 0.3px;
		margin: 10px 0;
		border-radius: 0;
		font-size: 13px;
		letter-spacing: 0.3px;
		padding-left: 0 !important;
		.label {
			text-overflow: inherit;
			white-space: inherit;
		}
		img {
			width: 20px;
			height: 20px;
			margin-right: 10px;
			vertical-align: middle;
			filter: invert(1);
		}
	}
}
  }

  .curloc{
    // align-items: center;
    // margin-top: 15px;
    // width: 100%;
    // padding: 10px;
    // text-align: center;
    // font-size: 15px;
    // background-color: #d8d7d7;
    // justify-content: center;
    // display: flex;
    // flex-direction: row;

    align-items: center;
    /* margin-top: 15px; */
    width: 100%;
    /* padding: 10px; */
    text-align: center;
    font-size: 15px;
    /* background-color: #d8d7d7; */
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
  }

  .locationlist{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 0.5px solid #D5DBE1;
    padding: 4px 4px 15px 0;
    
  }

  ion-searchbar{
    --border-radius:6px;
    --box-shadow:none;
    --icon-color:#E57607
  }
  
  ion-searchbar {
   // border:1px solid #D5DBE1;

   // height:48px
    }
    
    .searchbar-input {
      padding-right: 4px;
      font-size: 14px;
    }

    .divider {
			margin-top: 17px;
			//margin-bottom: 2px;
			height: 1px;
			background-color: #ebeaea;
			width: 100%
		}