<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-buttons (click)="closeModal()">
        <ion-icon name="arrow-back-outline" style="font-size: 22px; margin-left: 8px;"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      Search Address
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="background: #fff;">
  <div class="container">
    <div style="padding: 2px 0px;">
    
        <ion-searchbar 
        class="Addresssearchbarinput"
        search-icon="search-sharp" 
        [debounce]="250" 
        animated="true" 
        [(ngModel)]="autocomplete.input" 
        (ionInput)="UpdateSearchResults()" 
        placeholder="Search for your locality, area, street..."  
        (ionClear)="ClearAutocomplete()"
        ></ion-searchbar>
      
    </div>

    <div style="padding: 4px 12px;">
      <div class="curloc" (click)="SelectSearchResult(address,'curAddr')">
       <img src="../../assets/imgs/cur-loc.png" style="width: 23px;"/>
        <div style="margin-left: 5px; font-weight: 700; font-family: 'fontMedium'; color: #d12124;">Use my current location</div>
      </div>

      <div class="divider"></div>

      <div style="margin-top:15px" *ngIf="autocomplete.input">
        <div *ngFor="let address of autocompleteItems" (click)="SelectSearchResult(address,'listing')"
          class="locationlist">
          <div style="margin-left:5px">
            {{ address.description }}
          </div>
        </div>
      </div>


      <div *ngIf="loading == true && autocompleteItems == '' ">
        <ion-list>
          <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
            <ion-label>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>


    </div>
  </div>
</ion-content>