ion-header ion-toolbar {
    --background: var(--button-color) url("../../assets/imgs/light-placeholder.png") no-repeat right / cover;
}

ion-back-button{
    --color: white !important;
}

ion-content{
 --ion-background-color:#252222;
}

ion-back-button{
    button{
        .button-inner{
            text-align: left !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: flex-start !important;
        }
    }
}

.profileComplatePercentageContainer {
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 15px;
	.profilePercentageContainer {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		.percentage {
			color: #fff;
			font-size: 25px;
		}
		.completePercentageText {
			color: #B2B2B2;
			font-size: 16px;
			margin-left: 8px
		}
	}
	.completeProfileText {
		color: #fff;
		font-size: 16px;
		margin-top: 25px;
	}
	.rangeContainer {
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 25px;
		.indicator1 {
			width: 46%;
			padding: 2px
		}
		.indicator2 {
			width: 46%;
			background-color: #3B3B3B;
			padding: 2px;
			margin-left: 8px
		}
	}
}

.mainContainer{
    background-color: #fff;
    border-radius:30px 30px 0px 0px;
    padding:50px 20px 6px 20px;
    height:100%; 
    overflow: scroll!important;
    .govtTextHeading{
        font-size:22px;
        font-weight:bold
    }
    .govtTextSubHeading{
        font-size:14px;
        color:#121F3E;
        margin-top:12px;
        line-height: 19px;
        
    }
}


.backfntContainer{
    display: flex;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fPage{
    color:#121F3E;
    font-size:14px;
    margin-right:12px
}
.bckPage{
    margin-left:12px;
    font-size:14px;
    color:#CBCBCB
}

.uploadContainer{
    margin-top:25px;
    width:100%;
    background-color: #F6F5F8;
    border-radius:5px;
    height:250px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px dashed #D9D6D4;
   // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='1.5' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.uplaodContainer2{
    width:100%;
    //padding:30px;
    border-radius:8px;
    height:250px;
    background-color:#dbdbdb;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
};

.placeHolderContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.uploadBtn{
    color: #000;
    background-color: #fff;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    font-size:14px;
    font-weight:700;
    box-shadow: 0px 2px #00000029;
}
.continueBtn{
    color: #fff;
    background-color: var(--secondary);
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
   
}

.backBtn{
    color: #fff;
    background-color: var(--secondary);
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width:46%
}

.footerContainer{
    padding-top: 35px;
    padding-bottom: 45px;
    
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    .label1{
        font-size: 14px;
        font-weight: 700;
        color: #121F3E
    }
    .label2{
        font-size: 14px;
        font-weight: 700;
        color: #848994;
        margin-left:4px
    }

}

.subHeading{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: var(--text-color-primary)
}
.textInput{
    border: 1px solid #D5DBE1;
    border-radius: 5px;
    font-size: 14px;
    color: #121F3E;
    margin-top:15px;
    height:50px;
    padding-right:8px;
}
.dateInput{
    border: 1px solid #D5DBE1;
    border-radius: 5px;
    font-size: 14px;
    color: #121F3E;
    margin-top: 15px;
    height: 50px;
    padding-top: 15px;
    --placeholder-color:'red'
}

.actionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-input {
    --padding-end: 12px;
}

.picker-opt.picker-opt-selected, .picker-prefix, .picker-suffix {
    color: red;
}

.picker-button.sc-ion-picker-md, .picker-button.activated.sc-ion-picker-md {
    color: red;
}
  
.mainContainer2{
    background-color: #fff;
    padding:0px 20px 8px 20px;
    height:100%; 
    overflow: scroll!important;
}

.paswordInput{
    font-size: 14px;
    color: #121F3E;
    padding-right:8px
}
.passwordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #D5DBE1;
    border-radius: 5px;
    margin-top: 15px;
    padding-right: 12px;
    height:50px
}
 .segment1{
    padding:20px 0px 20px 0px;
    width:100%;
    margin-right:10px;
    border-radius: 5px;
    box-shadow:1px 0px 5px 3px #e6e4e4;
    background: #fff;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom:15px
 }

 .counterCardHeading{
    color:#121F3E;
    font-size: 14px;
    font-weight: bold;
 }

 .counterSubText{
    color:#767E8D;
    font-size: 13px;
    margin-top:10px
 }

 
 .native-input[disabled]{
    opacity: 1 !important;
}

.appversion{
    padding: 13px;
    color: #686968;
    text-align: center;
  }

  .agentLebelContainer{
    padding: 6px 18px;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    color: #fffdfb;
    margin-top: 6px;
    margin-bottom: 7px;
}

.agentLabel{
        padding: 3px 4px;
        width: 100px;
        background-color: #f7e1cf;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-size: 13px;
        color: #a65101;
        margin-top: 6px;
        margin-bottom: 7px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.agentLabel{

}
