<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-buttons>
      <ion-back-button text="" icon="arrow-back-outline" style="color:#000;margin-top: 12px;
      margin-left: 15px;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="global-background">


<ion-content padding class="global-background">

  <div class="custom-otp-div">
    <div class="otp-sub-one">
      <div class="otp-main">
        <img src="assets/imgs/forgotPassword.png" style="height: 72px;margin-bottom: 15px;"/>
        <div class="class-verification">Forgot password</div>
        <div class="class-description">
          Please enter your registered mobile number<br/>
          to receive temporary password
        </div>
        <div class=input-fields>
          <div class="subHeading">Mobile Number</div>
          <ion-input type="tel" maxLength="10"  [(ngModel)]="email"  class="textInput" clearOnEdit=false placeholder="Enter registered mobile number" ></ion-input>
        </div>
        <div style="display:flex;justify-content: center;align-items: center;padding:0px 25px 0px 25px">
          <div class="forgotBtn" (click)="forgotPassword()"><div style="color:#fff">Send</div></div>
        </div>
       
      </div>

    </div>


  </div>

  <!-- <div style="    display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;">
      <div style="justify-content: center;
      display: flex;">
        <img src="assets/imgs/forgotPassword.png" style="height: 72px;margin-bottom: 15px;"/>
      </div>
      
      <div class="class-verification">Forgot password</div>
      <div class="class-description">Please enter your registered mobile number to temporary receive password</div>

    <div class=input-fields>
      <div class="subHeading">Mobile Number</div>
      <ion-input type="tel" maxLength="10"  [(ngModel)]="email"  class="textInput" clearOnEdit=false ></ion-input>
    </div>
    <div style="display:flex;justify-content: center;align-items: center;padding:0px 25px 0px 25px">
      <div class="forgotBtn" (click)="forgotPassword()"><div style="color:#fff">Send</div></div>
    </div>


  </div> -->

</ion-content>