<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="loading != true">


    <div class="main-div" *ngIf="orderDetails?.admin_message != null">
      <div class="manage-order-div" style="background-color: #f7e0e0">
        <div class="column-sec" style="align-items: flex-start;flex:1">
          <div class="column-sec-title blackShade" style="font-weight: bold;color:rgb(143 0 39);">Administrator Messege
          </div>
          <div class="column-sec-title" style="text-align: left;font-size: 13px;margin-top:5px;color: #181818;">
            {{orderDetails?.admin_message}}
          </div>
        </div>
      </div>
    </div>

    <div class="main-div addMarginTop">
      <div class="manage-order-div">
        <div class="column-sec" style="align-items: flex-start">
          <div class="column-sec-title blackShade">Order Status</div>
          <div class="column-sec-title"
            style="font-size: 14px; margin-top:2px;text-transform: uppercase;font-weight: bold;">
            {{orderDetails?.status == "received"?'Wait for approval':orderDetails?.status_text }}</div>
        </div>
        <div class="column-sec">
          <div class="column-sec-btn-div" (click)="showTracking()">
            <!-- <ion-icon class="btn-icon" name="options-outline"></ion-icon> -->
            <div class="btn-title">{{!showTrack ? 'Track now' : 'Hide' }}</div>
          </div>
        </div>
      </div>

    </div>


    <div *ngIf="orderDetails?.prescriptions != '' "
      style="background-color: rgb(241, 240, 240); padding: 15px 0 12px 0; margin-top: 8px;">

      <div style="text-align: left;padding: 0 12px 10px 12px; font-weight: bold;">
        <div>Uploaded Prescriptions</div>
      </div>
      <div style="padding: 12px 0 0 12px;">
        <div
          style="display: flex; flex-direction: row;flex:1;overflow-x: auto; overflow-y: hidden;scrollbar-width: none !important;">
          <div
            style="border-radius:12px;display: flex; flex-direction: row;justify-content: flex-start; align-items: center; margin-right: 10px; "
            *ngFor="let k of orderDetails.prescriptions">
            <div style="position: absolute;">
              <div
                style="width: 90px; border-radius: 12px; position: absolute; top: 90px; bottom: 0px;z-index: 999;display: flex;justify-content: flex-end;align-items: center;padding-bottom: 8px;">
                <!-- <ion-icon name="expand" style="color: #ffff;font-size: 18px;margin-left:4px;"></ion-icon> -->
                <ion-icon name="trash-outline" style="color: #ffff;font-size: 18px;margin-right:4px;"
                  (click)="deletePrescription(k)"></ion-icon>
              </div>
              <div
                style="height:120px;width:90px;border-radius: 12px;opacity: 0.4;position: relative;
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(252,252,252,0) 1%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,252,252,0) 1%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(252,252,252,0) 1%,rgba(0,0,0,1) 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); ">
              </div>
            </div>
            <div style="height:120px;width:90px;border-radius: 12px;">
              <img src="{{k?.image_path}}" style="height: 100%;width: 100%;border-radius: 12px;object-fit:cover" />
            </div>
          </div>
        </div>
      </div>

      <div style="text-align: center;margin-top: 35px;" *ngIf=" orderDetails?.status != 'cancelled' && orderDetails?.status != 'delivered'">
        <div (click)="uploadPrescriptionVia()" style="color:#d12124">+ Add More Prescription</div>
      </div>

    </div>


    <div *ngIf="orderDetails?.prescriptions == '' && orderDetails?.status != 'cancelled' && orderDetails?.status != 'delivered'"
      style="background-color: rgb(241, 240, 240); padding: 15px 0 12px 0; margin-top: 8px;">

      <div style="display: flex; justify-content: center;align-items: center; flex-direction: column;">
        <div style="display: flex; justify-content: center; align-items: center;">
          <img src="../../assets/imgs/prescription.png" style="width: 85px; height:85px;" />
        </div>

        <div style="margin-top: 15px; display: flex; align-items: center;justify-content: center; width: 40%;">
          <div class="btn-sec" style="height: 42px; background-color: #ffd546;" (click)="uploadPrescriptionVia()">
            <div style="font-size: 13px; color: #000;">Upload Prescription</div>
          </div>
        </div>
      </div>
    </div>



    <div style="padding: 15px 0;background: white;" *ngIf="showTrack">
      <div class="breakdown-status-div" *ngFor="let item of orderDetails?.status_log; let i=index">
        <div class="div-one">
          <div class="div-sub-one">
            <ion-icon name="checkmark-circle" class="tick-icon" *ngIf="item?.timestamp"></ion-icon>
            <ion-icon name="checkmark-circle" class="tick-icon" style="opacity:0.5" *ngIf="!item?.timestamp"></ion-icon>
          </div>
          <div class="line-div">
            <div class="custom-line" *ngIf="item?.timestamp"></div>
            <div class="custom-line" style="opacity:0.5" *ngIf="!item?.timestamp">
            </div>
          </div>
        </div>
        <div class="div-two">
          <div class="div-two-title" *ngIf="item?.timestamp != null">
            {{item.label}}
          </div>
          <div class="div-two-title" *ngIf="item?.timestamp == null" style="color:#c2c2c2">
            {{item.label}}
          </div>

          <div class="date-div">
            <div class="date-row">
              <div class="date-icon-div">
                <img class="calender-img" src="assets/imgs/active_calender.png" *ngIf="item?.timestamp">
                <img class="calender-img" src="assets/imgs/active_calender.png" style="opacity:0.5"
                  *ngIf="!item?.timestamp">
              </div>
              <div class="date-title" *ngIf="item?.timestamp" style="color:#262626">{{item?.timestamp?.split('T')[0]}}
              </div>
              <div class="date-title" *ngIf="item?.timestamp == null">Date will assign
                soon</div>
              <!-- <div class="date-title" *ngIf="item?.timestamp == null && item?.label == 'Delivered'">
                {{orderDetails?.expected_delivery_date?dateCnvrt(orderDetails?.expected_delivery_date):"Date will assign
                soon"}}</div> -->
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="main-div addMarginTop">
      <!--View Rating-->
      <div *ngIf="orderDetails?.rating" class="column-sec-title blackShade" style="margin-left: 12px;
     margin-top: 10px;text-transform: uppercase;font-size: 14px;">Your Review & Rating</div>
      <div *ngIf="orderDetails?.rating" style="padding-left:12px;display:flex;flex-direction: row;">
        <div
          style="display:flex;flex-direction: row;align-items: center;justify-content: center;width:61px;padding:1px;border-radius: 25px;background-color: #ffffff;color:green;font-size: 22px;margin-top:8px;border: 1px solid #d3d3d3;">
          <img src="assets/imgs/star.png" style="width: 20px; margin-right: 3px;" /> {{orderDetails?.rating}}
        </div>
      </div>
      <div *ngIf="orderDetails?.review"
        style="color:rgb(34, 34, 34);font-size: 14px;margin-top:8px;padding:12px;padding-top:2px;text-align: left;"> -
        {{orderDetails?.review}}</div>

    </div>

    <!-- <div class="main-div addMarginTop"
      *ngIf="orderDetails?.deliveryboy != null && orderDetails?.status != 'delivered' && orderDetails?.status != 'cancelled'">
      <div class="manage-order-div" style="flex-direction: column;padding-right: 8px;">
        <div class="column-sec-title blackShade" style="color:#5E5E5E">Assigned Delivery Person</div>
        <div class="manage-order-div" style="flex-direction: row;padding-left:0px">

          <div class="column-sec" style="align-items: flex-start;flex-direction: row;">
            <img style="width: 35px; height: 35px; border-radius: 50%;" src="{{orderDetails?.deliveryboy?.avatar}}" />
            <div style="padding-left:10px">
              <div class="column-sec-title" style="text-transform: uppercase;font-size: 14px;margin-top:2px">
                {{orderDetails?.deliveryboy?.name}}</div>
              <div class="column-sec-title" class="vaccine">
                💉 Vaccinated</div>
            </div>
          </div>
          <div class="column-sec">
            <div class="column-sec-btn-div callBtnColor">
              <div class="btn-title" style="height:18px;padding-top:0px;padding-bottom: 0px;"
                (click)="callNow(orderDetails?.deliveryboy?.mobile)">Call now</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="main-div addMarginTop" *ngIf="orderDetails?.status == 'delivered' && !orderDetails?.rating">
      <div class="manage-order-div">
        <div class="column-sec" style="align-items: flex-start;flex:1">
          <div class="column-sec-title blackShade" style="font-weight: bold;color:#000">Rate Your Exprience</div>
          <div class="column-sec-title" style="font-size: 13px;margin-top:2px;color: #7e7e7e;">Help us to improve our
            sevice</div>
        </div>
        <div class="column-sec">
          <div class="column-sec-btn-div callBtnColor">
            <div class="btn-title" (click)="rating()" style="color: #fff;">Rate Now</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Order details -->
    <div class="paymentDetails-div">
      <div class="payment-main">
        <div class="payment-heading">Order Details</div>
        <div class="payment-devide">
          <div class="payment-common-div">
            <div class="key-name">Order Id</div>
            <div class="key-value">#{{orderDetails?.code}}</div>
          </div>
          <div class="payment-common-div">
            <div class="key-name">Order Date</div>
            <div class="key-value">{{orderDetails?.created_at}}</div>
          </div>
          <div class="payment-common-div">
            <div class="key-name">Payment Mode</div>
            <div class="key-value" style="text-transform: uppercase;">{{orderDetails?.payment_mode}}</div>
          </div>
          <div class="payment-common-div" *ngIf="orderDetails?.payment_txnid">
            <div class="key-name">Transaction Id</div>
            <div class="key-value" style="text-transform: uppercase;">{{orderDetails?.payment_txnid}}</div>
          </div>

          <div class="payment-common-div">
            <div class="key-name">Delivery Date</div>
            <div class="key-value">{{orderDetails?.expected_delivery_date?orderDetails?.expected_delivery_date:'Not
              Assign'}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cart item section -->
    <div class="cart-tem-section">
      <div class="cart-item-main" *ngFor="let item of orderDetails?.order_products">
        <div class="item-sec-one">
          <img class="item-image" src="{{item?.product?.image_path}}">
        </div>
        <div class="item-sec-two">
          <div class="product-title">{{item?.product?.name}}</div>
          <div class="product-discount"
            style="letter-spacing: 0px;font-size: 13px;text-transform: uppercase;color:#262626"
            *ngIf="item?.variant_selected?.color_name">Color - {{item?.variant_selected?.color_name}}</div>
          <div class="product-discount"
            style="letter-spacing: 0px;font-size: 13px;text-transform: uppercase;color:#262626;padding-top:1px">
            {{item?.variant_selected?.variant_name}}</div>
          <div class="content-price">RS. {{(item?.price).toFixed(2)}} X {{item?.quantity}}
          </div>
          <div class="product-discount">Subtotal - ₹ {{(item?.sub_total).toFixed(2)}}</div>
        </div>
      </div>
    </div>


    <!-- Payment details -->
    <div class="paymentDetails-div">
      <div class="payment-main">
        <div class="payment-heading">Billing Details</div>
        <div class="payment-devide">
          <div class="payment-common-div">
            <div class="key-name">Item Total</div>
            <div class="key-value">₹ {{(orderDetails?.item_total).toFixed(2)}}</div>
          </div>
          <div class="payment-common-div" *ngIf="orderDetails?.coupon_discount >0">
            <div class="common-sub" *ngIf="orderDetails?.coupon_discount >0">
              <div class="key-name" style="color: rgb(223, 58, 17);">Coupon Discount</div>
              <!-- <div class="coupon-name">First50 applied</div> -->
            </div>
            <div *ngIf="orderDetails?.coupon_discount >0" class="key-value" style="color: rgb(223, 58, 17);">-
              ₹ {{(orderDetails?.coupon_discount).toFixed(2)}}</div>
          </div>
          <div class="payment-common-div addBorder">
            <div class="key-name">Delivery fee</div>
            <div class="key-value">₹ {{(orderDetails.delivery_charge).toFixed(2)}}</div>
          </div>
          <div class="payment-common-div addPaddingTop">
            <div class="common-sub">
              <div class="key-name">Grand Total</div>
              <div class="coupon-name changeColor" style="margin-top:5px"
                *ngIf="orderDetails?.item_total - orderDetails?.payable_amount>0">You Save ₹{{(orderDetails?.item_total
                -
                orderDetails?.payable_amount).toFixed(2)}} in this order</div>
            </div>
            <div class="key-value" style="font-size: 15px;font-weight: 600;">
              Rs.{{(orderDetails?.payable_amount).toFixed(2)}}</div>
          </div>



        </div>
      </div>
    </div>

    <div class="address-div">
      <div class="address-content-div">
        <div class="address-heading">Delivery Address</div>
        <div class="address-details">
          <div class="add-name">{{orderDetails?.cust_name}}</div>
          <div class="add-desc">
            {{orderDetails?.cust_address?.address_line1?orderDetails?.cust_address?.address_line1:'N/A'}},
            {{orderDetails?.cust_address?.address_line2?orderDetails?.cust_address?.address_line2:'N/A'}}</div>
          <div class="add-desc">{{orderDetails?.cust_location}}, {{orderDetails?.cust_address?.postal_code}}</div>
          <div class="add-desc">{{orderDetails?.cust_address?.landmark}}</div>
          <div class="add-desc">+91 {{orderDetails?.cust_mobile}}</div>
        </div>
      </div>
    </div>

    <!-- (orderDetails?.status != 'cancelled' && orderDetails?.status != 'delivered') && orderDetails?.revertcount == 0 &&  -->

    <div class="item-btn-div"
      *ngIf="global.getTimeDiff(orderDetails?.raw_created_at) === true &&  (orderDetails?.status != 'cancelled' && orderDetails?.status != 'delivered') && orderDetails?.revertcount == 0">
      <div class="btn-sec" (click)="cancelOrderConfirmation()">
        <div>Cancel Order</div>
      </div>
    </div>

    <div class="item-btn-div"
      *ngIf="(orderDetails?.status != 'cancelled' && orderDetails?.status == 'delivered') && orderDetails?.revertcount == 0 ">
      <div *ngIf="orderDetails?.status == 'delivered'" class="btn-sec">
        <div (click)="download(orderDetails?.invoice)">View Invoice</div>
      </div>
    </div>

  </div>

  <div *ngIf="loading == true">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>



</ion-content>