<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
   <div style="background-color:#fff;margin: 5px 8px 4px 8px; border-radius: 12px;" *ngFor="let item of nofiArr">
    <div style="font-size: 12px;text-align: right;padding: 8px 15px 0px 0px;color: #8a8989">{{item?.created_at}}</div>
    <div
      style="padding-left:8px;display: flex;justify-content: flex-start;
      align-items: center;flex-direction: row;">
      <div style="display: flex;justify-content: space-around;align-items: flex-start;flex-direction: row;">
        <img style="width:45px" src="https://conceptdraw.com/a155c4/p127/preview/640/pict--notification-cloud-round-icons-vector-stencils-library" />
        <div style="display: flex;justify-content: space-around;align-items: flex-start;flex-direction: column;">
          <div style="font-size: 15px; font-weight: bold; margin-left: 8px;">{{item?.heading}}</div>
          <div style="color: #6e6e6e;font-size: 13px; margin-left: 8px; padding: 6px 15px 12px 0px; text-align: left;">{{item?.content}}</div>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="loading != true && nofiArr == ''" style="display: flex; justify-content: center; align-items: center;flex-direction: column;padding: 80px 45px; background: #fff;
  height: 100%;"> 
    <img style="width:184px" src="assets/imgs/no-results.jpeg" />
    <div style="text-align: center;font-size: 16px;color: #000;margin-bottom: 7px;">No notifications are available now.</div>
  </div>

  <div *ngIf="loading == true">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
     
    </ion-list>
    </div>
</ion-content>
