ion-header ion-toolbar {
    --background:var(--button-color);
}

ion-back-button{
    --color: white !important;
}

ion-back-button{
    button{
        .button-inner{
            text-align: left !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: flex-start !important;
        }
    }
}

.custom-skeleton ion-skeleton-text {
	line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
	margin-bottom: 5px;
  }